:root{
	--main-bg-color: rgb(45, 45, 45);
	--main-fg-color: lightblue;
}

nav{
	background-color: var(--main-bg-color);
	color: var(--main-fg-color);
}

.page_header{
    text-align: center;
}

.nav-item{
    list-style-type: none;
    margin-top:10px;
    font-size:16px;
    border-left:1px solid var(--main-fg-color);
    padding: 5px;
    padding-left:10px;
    cursor: pointer;
    margin-left: 5px;
}
.nav-item a:hover{
	text-decoration: none;
}
.nav-item a,
.navbar-brand{
    color: var(--main-fg-color);
}
.nav-item:first-child{
	border:none;
}

.quote_view{
	background-color: rgb(240, 240, 240);
}
.quote_view_quote h3{
	font-style: italic;
}
.quote_view_source p{
	display: inline-block;
	font-size:16px;
}
.quote_view_source{
	float: right;
}

#random_quote_view_holder,
#specific_quote_view_holder{
    margin-top: 50px;
}