{% extends 'base.html' %}
{% block title %}Quotes{% endblock %}
{% block body %}
    <h1 class="page_header">All Quotes</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Quote</th>
                <th>Said by</th>
                <th>In episode</th>
                <th>View quote</th>
            </tr>
        </thead>
        <tbody>
            {% for quote in quotes %}
                <tr>
                    <td class="quote_list_quote">{{ quote.Quote }}</td>
                    <td>{{ quote.Source.Person }}</td>
                    <td>{{ quote.Source.Episode }}</td>
                    <td>
                        <a class="btn btn-primary" href="/quotes/{{ quote.Id }}">See quote</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
