{% extends 'base.html' %}
{% block title %}Submit a quote{% endblock %}
{% block head %}
	<script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock %}
{% block body %}

    <h1 class="page_header">Submit quote</h1>
    <form class="container" action="" method="POST" novalidate="novalidate">
        {{ form.hidden_tag() }}
        <p class="form-group">
            {{ form.quote.label }}<br/>
            {{ form.quote(class_="form-control") }}
        </p>
        <p class="form-group">
            {{ form.source_person.label }}<br/>
            {{ form.source_person(class_="form-control") }}
        </p>
        <p class="form-group" id="specific_source" style="display: none">
            <label for="source_person_other">Other: </label>
            <input class="form-control" id="source_person_other" required name="source_person_other" type="text" value="">
        </p>
        <p class="form-group">
            {{ form.source_episode.label }}<br/>
            {{ form.source_episode(class_="form-control") }}
        </p>
        <p class="form-group">{{ form.submit(class_="btn btn-primary") }}</p>
    </form>

{% endblock %}
